<footer>
    <div class="divTop">
        <div style="text-align: center;color: white;">
            <p>Zastupljena preduzeća</p>
        </div>
       <!-- <div class="divTop-links">
           <a href="#">Autoprevoz-bus</a>
           <a href="#">Centrotrans</a>
           <a href="#">FlixBus</a>
       </div> -->
       <div class="row">
       

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-2 mb-3">Preduzeća :</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Autoprevoz-bus</a>
            </li>
            <li>
              <a href="#!">Centrotrans</a>
            </li>
            <li>
              <a href="#!">FlixBus</a>
            </li>
           
          </ul>
  
        </div>

        

        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-2 mb-3">Preduzeća :</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Autoprevoz-bus</a>
              </li>
              <li>
                <a href="#!">Centrotrans</a>
              </li>
              <li>
                <a href="#!">FlixBus</a>
              </li>
             
            </ul>
    
          </div>
         

         
       </div>
       
    </div>
    <div class="divDown" >
        <p >@Tarik Suta 2020. Sva prava pridržana</p>
    </div>
</footer>
