<!-- <div class="row">
    <div class="col-md-12">
        <app-preporuke-item *ngFor="let preporukaEl of linijePreporuke"
        [preporuka]="preporukaEl"></app-preporuke-item>
    </div>
</div> -->

<div class="testimonials-area urediNot">
    <div class="testi-inner area-padding">
        <div class="testi-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Start testimonials Start -->
                    <div class="testimonial-content text-center">

                        <app-preporuke-item *ngFor="let preporukaEl of linijePreporuke"
                        [preporuka]="preporukaEl"></app-preporuke-item>
                      
                    </div>
                    <!-- End testimonials end -->
                </div>
                <!-- End Right Feature -->
            </div>
        </div>
    </div>
</div><!-- End Testimonials Section -->
