.testimonials-area {
    background: rgba(0, 0, 0, 0) url("../../assets/images/busth.jpg") no-repeat fixed center top/cover;
    height: 150px;
    width: 100%;

   overflow: scroll;
  }
  
  .testi-inner {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .testi-overly {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .quate {
    border: 1px dotted #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    width: 70px;
  }
  
  .quate:hover {
    color: #fff;
  }
  
  .testi-img img {
    border: 1px dotted rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    height: 80px;
    margin: 0 auto;
    padding: 5px;
    transition: background 0.6s ease-out 0s;
    width: 80px !important;
  }
  
  .testi-text p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    margin: 20px 0;
    letter-spacing: 1px;
  }
  
  .testi-text h6 {
    color: #fff;
    font-size: 20px;
  }