
.blok{
    display: block;
}
.cleanSpace{
    margin-bottom: 35px;
}
.zaPretragu{
    list-style-type: none;
    cursor: pointer;
    position: absolute;
    width: 90%;
    
    background-color: lightgray;
}

.pretrazi{
    margin-top: 40px;
}

.razmak{
    margin-bottom: 100px;
}

#tabelaLinija{
   
    overflow: hidden;
    margin-top: 10px;
   
}

#polaziste {
    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;

  }
  /*Polaziste*/
  #polaziste {

    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #polazisteUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  #polazisteUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #polazisteUL li a:hover:not(.header) {
    background-color: #eee;
  }
  /*KRAJ POLAZISTA*/

  /* odrediste */

  #odrediste {

    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #odredisteUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  #odredisteUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #odredisteUL li a:hover:not(.header) {
    background-color: #eee;
  }

  /*KRAJ ODREDISTA*/