.example-card{
    float: left;
    width:calc(50% - 30px);
    height: 500px;
   
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.slider{
    width: 50%;
    color: white;
}
.urediP{
    display: inline;
    padding: 10px;
}